Diamond Dataset

Kelly Simmons

2/21/2023

Diamond file stored in Repo and loaded into Data Frame

In [61]:
import pandas as pd

In [62]:
df = pd.read_csv('diamonds.csv', index_col=0)

2. View First Seven

In [63]:
df.head(7)

   carat        cut color clarity  depth  table  price     x     y     z
1   0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
2   0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3   0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
4   0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
5   0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
6   0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48
7   0.24  Very Good     I    VVS1   62.3   57.0    336  3.95  3.98  2.47

View Last Seven

In [64]:
df.tail(7)

       carat        cut color clarity  depth  table  price     x     y     z
53934   0.70  Very Good     E     VS2   61.2   59.0   2757  5.69  5.72  3.49
53935   0.72    Premium     D     SI1   62.7   59.0   2757  5.69  5.73  3.58
53936   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53937   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53938   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53939   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53940   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

3. Describe

In [65]:
df.describe()

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

4. Series

In [66]:
cut = ['Ideal', 'Premium', 'Good', 'Very Good', 'Fair']
color = ['D', 'E', 'F', 'G', 'H', 'I', 'J']
clarity = ['IF', 'VVS1', 'VVS2', 'VS1', 'VS2', 'SI1', 'SI2', 'I1']
my_series = pd.Series([cut, color, clarity])

In [67]:
print(my_series)

0     [Ideal, Premium, Good, Very Good, Fair]
1                       [D, E, F, G, H, I, J]
2    [IF, VVS1, VVS2, VS1, VS2, SI1, SI2, I1]
dtype: object

Series Unique

In [68]:
unique_values = my_series.unique

In [69]:
print(unique_values)

<bound method Series.unique of 0     [Ideal, Premium, Good, Very Good, Fair]
1                       [D, E, F, G, H, I, J]
2    [IF, VVS1, VVS2, VS1, VS2, SI1, SI2, I1]
dtype: object>

5. Histograms

In [70]:
import matplotlib
print(matplotlib.get_backend())

module://matplotlib_inline.backend_inline

In [71]:
pip install matplotlib[inline]

Requirement already satisfied: matplotlib[inline] in c:\users\kelly\appdata\local\programs\python\python311\lib\site-packages (3.7.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\kelly\appdata\local\programs\python\python311\lib\site-packages (from matplotlib[inline]) (1.0.7)
Requirement already satisfied: cycler>=0.10 in c:\users\kelly\appdata\local\programs\python\python311\lib\site-packages (from matplotlib[inline]) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\kelly\appdata\local\programs\python\python311\lib\site-packages (from matplotlib[inline]) (4.38.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\kelly\appdata\local\programs\python\python311\lib\site-packages (from matplotlib[inline]) (1.4.4)
Requirement already satisfied: numpy>=1.20 in c:\users\kelly\appdata\local\programs\python\python311\lib\site-packages (from matplotlib[inline]) (1.24.2)
Requirement already satisfied: packaging>=20.0 in c:\users\kelly\appdata\roaming\python\python311\site-packages (from matplotlib[inline]) (23.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\kelly\appdata\local\programs\python\python311\lib\site-packages (from matplotlib[inline]) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\kelly\appdata\local\programs\python\python311\lib\site-packages (from matplotlib[inline]) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\kelly\appdata\roaming\python\python311\site-packages (from matplotlib[inline]) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\kelly\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.7->matplotlib[inline]) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: matplotlib 3.7.0 does not provide the extra 'inline'

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [72]:
%matplotlib inline

In [73]:
import matplotlib.pyplot as plt

In [74]:
import pandas as pd

In [75]:
df = pd.read_csv('diamonds.csv')

In [77]:
data = df[['carat', 'depth', 'price', 'table', 'x', 'y', 'z']]

In [59]:
plt.show()